* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    color: rgb(51, 51, 51);
    background-color: #FFF4EC;
}


/* Loader */
.loader {
    width: 100vw;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #7d5a507e, #e5b299db, #e5b299b0);
}

.loader-back-image {
    width: 100vw;
    height: 100%;
    position: relative;
    background: url("../images/loader-background-pastry.png") repeat fixed center;
    opacity: 0.15;
    background-size: 40% 80%;
    z-index: 2;
}



.loader-img {
    position: absolute;
    border-radius: 40%;
    border: 1px solid #7D5A50;
    border-left: none;
    border-right: none;
    padding: 1%;
    width: 6%;
    margin: auto 0;
    animation: loader-bop 1000ms ease-in-out infinite alternate;
    z-index: 3;
}

@keyframes loader-bop {
    0% {}

    100% {
        background-color: #3a38453d;
        width: 8%;
        transform: rotateY(180deg);
        box-shadow: 0 0 10px #3a3845dd;
    }
}

/* Main Container */
.container {
    display: none;
    background-color: #FFF4EC;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
}

/* Logo */
.dropdown-menu {
    display: none;
}

header,
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header {
    position: sticky;
}

.logo {
    width: 15%;
}

.bb-logo1 {
    width: 30%;
}

.bb-logo2 {
    width: 65%;
}

/* The Body */
/* .the-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* Items */
.section-name {
    text-align: center;
}

.section-name img {
    width: 25%;
    border-radius: 20%;
}


.section-name h1,
.section-name h3,
.arrow {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 3% 0 2%;
    color: #7D5A50;
    letter-spacing: 0.2vw;
}

.section-name h3 {
    letter-spacing: 0.1vw;
    font-size: 1.8rem;
}

.section-divide {
    border: none;
    background-color: #7D5A50;
    height: 1px;
    margin: 2% 0;
}


.items-div {
    width: 95%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2vw;
    margin: 5% 0 7% 0;
}

.item {
    margin: 2% 1%;
    height: 30vmax;
    width: auto;
    background-color: #e5b29976;
    border-radius: 20% 20% 4% 4%;
    text-align: center;
    overflow: hidden;
    transition: all 450ms ease-in-out;
}

.item:hover {
    transform: scale(1.05);
    cursor: zoom-in;
}

.item img {
    width: 100%;
    height: 30vmax;
    border-radius: 20% 20% 0 0;
    transition: all 450ms ease-in-out;
    /* position: relative; */
}

.item img:hover {
    transform: scale(1.1);
}

.discount-tag {
    position: absolute;
    top: 90%;
    background-color: rgb(255, 58, 58);
}

.add-to-cart-btn {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 20%;
    border: 1px solid #e5b299;
    width: 70%;
    padding: 2% 5%;
    margin: 0 0 5% 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.add-to-cart-btn:hover,
.next-section button:hover,
.link:hover,
.feedback-submit-btn:hover {
    color: #3A3845;
    background-color: #e5b299;
    border: 0.5px solid #3A3845;
    box-shadow: 5px 5px 2px #3a3845b3;
}

.add-to-cart-btn:active,
.next-section button:active,
.link:active,
.feedback-submit-btn:active {
    background-color: #d3a994;

    transform: translate(5px, 5px);
    box-shadow: 0 0 10px #3A3845;
}

.next-section {
    margin: 5% 1%;
    text-align: right;
}

.next-section button {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 30%;
    border: 1px solid #e5b299;
    width: 30%;
    padding: 2% 4%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}


/* Feedback */
.feedback-div {
    text-align: center;
    margin: 0;
    /* background-color:#e5b29976; */
    position: relative;
    padding: 5% 0;
    border-radius: 5%;
}

.feedback-div::before {
    content: "";
    background: url("../images/sections/cookies/cookies1.jpg") fixed center;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.feedback-div h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 3% 0 2%;
    color: #3A3845;
    letter-spacing: 0.2vw;

}

.feedback-inside {
    position: relative;
}

.feedback-text {

    font-family: sans-serif;
    font-size: 1em;
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3a384555;

}

.feedback-submit-btn {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 20%;
    border: 1px solid #e5b299;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    width: 20%;
    font-weight: bold;
    font-size: 1.5em;
    padding: 2% 1%;
    margin-top: 1%;
}


/* Footer */
footer {
    background-color: #826F66;
    text-align: center;
    padding: 2%;

}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: #e5b299;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    padding: 1% 2%;
    border-radius: 20%;
    transition: all 250ms ease-in-out;
}

.copyright {
    color: #fec7ac;
    padding-top: 2%;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.svg {
    opacity: 0.3;
    width: 15%;
}

/* _________________ Media Queries */
/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
 */

/* Small Laptop Screen View*/
@media (max-width:1100px) {
    html {
        font-size: 12px;
    }
}

/* Tablet View*/
@media (max-width:900px) {
    html {
        font-size: 10px;
    }
}

@media (max-width:750px) {
    html {
        font-size: 9px;
    }
}

@media (max-width:650px) {

    /* 3 cards on a row */
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

/* Mobile View */
@media (max-width:485px) {
    /* 2 cards on a row */

    html {
        font-size: 8px;
    }

    .banner {
        height: 20vh;
    }

    .sections {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }

    .the-body {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .items-div {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

}

@media (max-width:380px) {
    html {
        font-size: 7px;
    }
}