* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: rgb(51, 51, 51);
    background-color: #FFF4EC;
}

#id,
#demo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #7D5A50;
    margin: 0;
}

/* Loader */
.loader {
    width: 100vw;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #7d5a507e, #e5b299db, #e5b299b0);
}

.loader-back-image {
    width: 100vw;
    height: 100%;
    position: relative;
    background: url("../images/loader-background-pastry.png") repeat fixed center;
    opacity: 0.15;
    background-size: 40% 80%;
    z-index: 2;
}



.loader-img {
    position: absolute;
    border-radius: 40%;
    border: 1px solid #7D5A50;
    border-left: none;
    border-right: none;
    padding: 1%;
    width: 6%;
    margin: auto 0;
    animation: loader-bop 1000ms ease-in-out infinite alternate;
    z-index: 3;
}

@keyframes loader-bop {
    0% {}

    100% {
        background-color: #3a38453d;
        width: 8%;
        transform: rotateY(180deg);
        box-shadow: 0 0 10px #3a3845dd;
    }
}

/* Main Container */
.container {
    display: none;
    background-color: #FFF4EC;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
}

/* Logo */
.dropdown-menu {
    display: none;
}

header,
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header {
    position: sticky;
}

.logo {
    width: 15%;
}

.bb-logo1 {
    width: 30%;
}

.bb-logo2 {
    width: 65%;
}

/* Banner */
.banner {
    margin: 0 auto;
    width: inherit;
    height: 46vh;
    text-align: center;

}

.banner video {
    border-radius: 3%;
    object-fit: cover;
    width: 99%;
    height: 100%;
}

.under-banner {
    border: none;
    background-color: #7D5A50;
    height: 0.2vh;
    width: 99%;
    margin: 2% 0;
}

/* The Body */
.the-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Sections */
.sections-list {
    padding-left: 0;
}

.sections {
    width: 20%;
    text-align: center;
}

.menu {
    font-size: 1.7rem;
    color: #7D5A50;
    letter-spacing: 0.2vw;
}

.section {
    list-style: none;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #7D5A50;
    letter-spacing: 0.2vw;
    text-decoration: none;
    line-height: 2;
    padding: 2% 5%;
    transition: all 150ms ease;
}

.section:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px #cb9383;
}

.section:active {
    box-shadow: 0 0 12px #7D5A50;
}

#offers-section {
    font-weight: bold;
    color: #c23d3d;
    animation: bop 1.5s linear infinite alternate both;
}

.selected{
    border-radius: 10px;
    box-shadow: 0 0 12px #7D5A50;
}

@keyframes bop {

    25% {
        color: #17e0ee;
    }

    50% {
        font-size: 1.6rem;
        color: #ee5f17;
    }

    100% {
        font-weight: bolder;
        font-size: 1.7rem;
        color: #ee1717;
    }
}

.section-divide {
    border: none;
    background-color: #7D5A50;
    height: 0.5px;
    width: 90%;
    margin: 2% 0;
}

/* Items */
.section-name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-name h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 3% 0 2%;
    color: #7D5A50;
    letter-spacing: 0.2vw;
}

.products-loader {
    margin-left: 1rem;
    border: 0.7rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.7rem solid #7D5A50;
    border-right: 0.7rem solid #cb9383;
    border-bottom: 0.7rem solid #3A3845;
    border-left: 0.7rem solid #e5b299;
    width: 3rem;
    height: 3rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display:none;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.items-div {
    width: 78%;
}

.grid-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 2vw;
}

.item {
    margin: 2% 1%;
    height: 35vmax;
    width: auto;
    background-color: #e5b29976;
    border-radius: 20% 20% 4% 4%;
    text-align: center;
    overflow: hidden;
    transition: all 450ms ease-in-out;
}

.item:hover {
    transform: scale(1.05);
    cursor: zoom-in;
}

.item img {
    width: 100%;
    height: 25vmax;
    border-radius: 20% 20% 0 0;
    transition: all 450ms ease-in-out;
    /* position: relative; */
}

.item img:hover {
    transform: scale(1.1);
}

.discount-tag {
    position: absolute;
    left: 25%;
    width: 10%;
    height: 5%;
    color: black;
    font-size: 1.7em;
    font-weight: bold;
    background-color: rgb(255, 58, 58);
}

h4.product-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    margin: 3% 0 2%;
    color: #3A3845;
}

h3.product-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2vw;
    color: #7D5A50;
    margin: 3% 0;
}

.cut-price {
    text-decoration: line-through;
    color: #787682;
}



.add-to-cart-btn {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 20%;
    border: 1px solid #e5b299;
    width: 70%;
    padding: 2% 5%;
    margin: 0 0 5% 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.add-to-cart-btn:hover,
.next-section button:hover,
.link:hover,
.feedback-submit-btn:hover {
    color: #3A3845;
    background-color: #e5b299;
    border: 0.5px solid #3A3845;
    box-shadow: 5px 5px 2px #3a3845b3;
}

.add-to-cart-btn:active,
.next-section button:active,
.link:active,
.feedback-submit-btn:active {
    background-color: #d3a994;

    transform: translate(5px, 5px);
    box-shadow: 0 0 10px #3A3845;
}

.next-section {
    margin: 5% 1%;
    text-align: right;
}

.next-section button {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 30%;
    border: 1px solid #e5b299;
    width: 30%;
    padding: 2% 4%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}


/* Site Map */

/* Feedback */
.feedback-div {
    text-align: center;
    margin: 0;
    /* background-color:#e5b29976; */
    position: relative;
    padding: 5% 0;
    border-radius: 5%;
}

.feedback-div::before {
    content: "";
    background: url("https://res.cloudinary.com/diqleis0t/image/upload/v1663680481/Bakerz/cookies1_tfukpz.jpg") fixed center;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.feedback-div h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 3% 0 2%;
    color: #3A3845;
    letter-spacing: 0.2vw;

}

.feedback-inside {
    position: relative;
}

.feedback-text {

    font-family: sans-serif;
    font-size: 1em;
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3a384555;

}

.feedback-submit-btn {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 20%;
    border: 1px solid #e5b299;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    width: 20%;
    font-weight: bold;
    font-size: 1.5em;
    padding: 2% 1%;
    margin-top: 1%;
}

/* About us and Contact us */

.contact-us,
.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;
    width: 90%;
    text-align: center;
    color: #3A3845;
}

.about-us h1 {
    width: 20%;
}

.about-us-details {
    width: 70%;
}

.about-us-logo {
    width: 25%;
}

.about-us-paragraph {
    text-align: justify;
    font-size: 1.2em;
    line-height: 2;
    text-indent: 10%;
}

.motto {
    text-align: center;
    font-size: 1.2em;
    color: #7D5A50;
}


.contact-us * {
    font-family: 'Montserrat', sans-serif;
}

.contact-us img {
    width: 50%;
    border-radius: 10em;
}

.contact-us-details {
    width: 50%;
}


/* Footer */
footer {
    background-color: #826F66;
    text-align: center;
    padding: 2%;

}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: #e5b299;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    padding: 1% 2%;
    border-radius: 20%;
    transition: all 250ms ease-in-out;
}

.copyright {
    color: #fec7ac;
    padding-top: 2%;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.svg {
    opacity: 0.3;
    width: 15%;
}

/* _________________ Media Queries */
/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
 */

/* Small Laptop Screen View*/
@media (max-width:1100px) {
    html {
        font-size: 12px;
    }
}

/* Tablet View*/
@media (max-width:900px) {
    html {
        font-size: 10px;
    }

    .banner {
        height: 35vh;
    }
}

@media (max-width:750px) {
    html {
        font-size: 9px;
    }

    .banner {
        height: 30vh;
    }
}

@media (max-width:650px) {
    .item {
        height: 38vmax;
    }
}

/* Mobile View */
@media (max-width:485px) {
    /* 2 cards on a row */

    .banner {
        height: 20vh;
    }

    .sections {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }

    .the-body {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .item {
        height: 39vmax;
    }

    .items-div {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

    .add-to-cart-btn {
        width: 50%;
    }

}

@media (max-width:380px) {
    .item {
        height: 40vmax;
    }

    .contact-us {
        display: block;
    }

    .contact-us-details {
        width: 100%;
    }

    .contact-us img {
        width: 80%;
    }
}