/* colors: #3A3845; dark grey
   #7D5A50; brown
    #826F66;
    #e5b299; light brown
 extra... #d3a994;
}
*/
* {
    /* font-family: 'Aboreto', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif; */
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: rgb(51, 51, 51);
    /* font-size: 3vw; */
    background-color: #FFF4EC;
}



/* Main Container */
.container {
    background-color: #FFF4EC;
    box-sizing: border-box;
}

/* Logo */
.dropdown-menu{
    display: none;
}

header, .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 15%;
}

.bb-logo1 {
    width: 30%;
}

.bb-logo2 {
    width: 65%;
}

/* Banner */
.banner {
    margin: 0 auto;
    width: inherit;
    height: 46vh;
    text-align: center;
}

.banner video{
    object-fit: cover;
    width: 99%;
    height: 100%;
}

.under-banner {
    border: none;
    background-color: #7D5A50;
    height: 0.2vh;
    width: 99%;
    margin: 2% 0;
}

/* The Body */
.the-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Sections */
.sections-list {
    padding-left: 0;
}

.sections {
    width: 20%;
    text-align: center;
}

.menu{
    font-size: 1.7vw;
    color: #7D5A50;
    letter-spacing: 0.2vw; 
}

.section{
    list-style: none;
    font-size:1.5vw;
    font-family: 'Montserrat', sans-serif;
    color: #7D5A50;
    letter-spacing: 0.2vw;  text-decoration: none;
    line-height: 2;
    padding:2% 5%;
    transition: all 150ms ease;
}

.section:hover {
    border-radius: 10px;
    box-shadow:0 0 5px #cb9383;
}

.section:active {
    box-shadow:0 0 12px #7D5A50;
}

.offers-section{
    font-weight: bold;
    color: #c23d3d;
    animation:bop 1s linear infinite alternate both;
}

@keyframes bop {
   
    to {font-weight: bolder;
        font-size:1.7vw;
        color: #ee1717;}
  }
  
.section-divide {
    border: none;
    background-color: #7D5A50;
    height: 0.5px;
    width: 90%;
    margin: 2% 0;
}

/* Items */
.section-name {
    text-align: center;
}

.section-name h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    margin: 3% 0 2%;
    color: #7D5A50;
    letter-spacing: 0.2vw;
}

.items-div {
    width: 78%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5vw;
}

.item {
    margin: 2% 1%;
    height: 35vmax;
    min-height: 35vmax;
    width: auto;
    background-color: #e5b29976;
    border-radius: 20% 20% 4% 4%;
    text-align: center;
    overflow: hidden;
    transition: all 450ms ease-in-out;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: 25vmax;
    border-radius: 20% 20% 0 0;
    transition: all 450ms ease-in-out;
}

.item img:hover {
    transform: scale(1.1);
}


h4.product-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
    margin: 3% 0 2%;
    color: #3A3845;
}

h3.product-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    color: #7D5A50;
    margin: 3% 0;
}

.cut-price {
    text-decoration: line-through;
    color: #787682;
}

.add-to-cart-btn {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 20%;
    border: 1px solid #e5b299;
    width: 70%;
    padding: 2% 5%;
    margin: 0 0 5% 0;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 250ms ease-in-out;


}

.add-to-cart-btn:hover,
.next-section button:hover,
.link:hover {
    color: #3A3845;
    background-color: #e5b299;
    border: 0.5px solid #3A3845;
    box-shadow: 5px 5px 2px #3a3845b3;
}

.add-to-cart-btn:active,
.next-section button:active,
.link:active {
    background-color: #d3a994;

    transform: translate(5px, 5px);
    box-shadow: 0 0 10px #3A3845;
}

.next-section {
    margin: 5% 1%;
    text-align: right;
}

.next-section button {
    color: #e5b299;
    background-color: #3A3845;
    border-radius: 30%;
    border: 1px solid #e5b299;
    width: 30%;
    padding: 2% 4%;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

/* .offers{
    display: none;
} */

/* Site Map */


/* Footer */
footer {
    background-color: #826F66;
    text-align: center;
    padding: 2%;

}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: #e5b299;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    text-decoration: none;
    cursor: pointer;
    padding: 1% 2%;
    border-radius: 20%;
    transition: all 250ms ease-in-out;
}

.copyright {
    color: #fec7ac;
    padding-top: 2%;
    font-size: 0.9vw;
    font-family: 'Montserrat', sans-serif;
}

.svg {
    opacity: 0.3;
    width: 15%;
}


/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
 */
 /* Tablet View*/
@media (max-width:768px) {
   
}

/* Mobile View */
@media (max-width:485px) {
    /* 2 cards on a row */
    .banner{
        height:24vh;
    }

    .sections{
        display:none;
    }

    .dropdown-menu{
        display: block;
    }

    .the-body {
        display: block;
        width:70%;
        margin: 0 auto;
    }

    .items-div {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }
    .footer-links {
        display: block;
    }

}